header {
  background: #2c3e50;
  color: white;
  width: 100%;
}
header .header__content {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.header__title a:hover {
  text-decoration: underline;
}

/* Mobile styles */
@media (max-width: 1023px) {
  header .header__content,
  .content-container {
    max-width: 80%;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  header .header__content {
    max-width: 50%;
    width: 50%;
  }
}
