header {
  background: #2c3e50;
  color: white;
  width: 100%;
}
header .header__content {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
