footer {
  background: #2c3e50;
  color: white;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

footer .footer-content {
  max-width: 50%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}
