.content-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  background: white;
}

.content-container {
  width: 50%;
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

main {
  flex: 1;
  padding: 20px;
  background: white;
}

@media (max-width: 1023px) {
  header .header-content,
  .content-container,
  footer .footer-content {
    max-width: 80%;
    width: 80%;
  }

  .content-container {
    flex-direction: column;
  }

  aside {
    width: 100%;
  }
}
