.content-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  background: white;
}

.content-container {
  width: 50%;
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

main {
  flex: 1;
  padding: 20px;
  background: white;
}
